{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="page-content">
        <h1>Browse By Topic</h1>

        <ul id="markdown-toc">
            <li><a href="#using-health-to-go">Using IEM</a>
                <ul>
                    <li><a href="#what-is-health-to-go">What is IEM?</a></li>
                    <li><a href="#what-are-the-benefits">What are the benefits of using IEM?</a></li>
                    <li><a href="#who-are-we">Who are we?</a></li>
                </ul>
            </li>

            <hr>
            <li><a href="#registration">Registration</a>
                <ul>
                    <li><a href="#how-do-i-register">How do I register for a hospital appointment and what do I need?</a></li>
                    <li><a href="#why-does-health-to-go-require-my-information">Why does IEM
                        require my information?</a></li>
                    <li><a href="#Is-my-information-safe">Is my personal information safe?</a></li>
                    <li><a href="#how-to-cancel">Whoops! I accidentally signed up for an appointment, how can I cancel it?</a></li>
                </ul>
            </li>

            <hr>
             <li><a href="#registration">Triage</a>
                <ul>
                    <li><a href="#what-is-triaging">What is triaging?</a></li>
                    <li><a href="#how-does-health-improve-triaging">How does IEM
                        improve traditional triaging?</a></li>
                    <li><a href="#how-does-our-triage-machine-work">How does our triage machine work?</a></li>
                </ul>
            </li>
             <hr>
            <li><a href="#accounts-information">Accounts &amp; Information</a>
                <ul>
                    <li><a href="#how-to-update">Where can I update my personal particulars?</a></li>
                </ul>
            </li>
        </ul>
    </div>

 
</div>
{% endblock %}

