{% extends "layout.html" %}
{% block body %}
<div class="container listall">
    <div class="row">
        <div class="col-xs-12">
            <table id="table_id" class="display hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NRIC</th>
                    <th>Name</th>
                    <th>Time Last Updated</th>
                    <th>Triage Data</th>
                    <th>Classification</th>
                </tr>
                </thead>
                {% for reading in readings %}
                <tr class="clickable-row" data-url="/triage">
                    <td>{{ loop.index }}</td>

                    <td class="nric_field"> <!-- Nric -->{{ reading.nric_num}}</td>
                    <td>{{ reading.name}}</td>
                    <td> <!-- Date -->
                        {{ reading.date|datetimeformat }}
                    </td>
                    <td>
                        {% if reading.temperature == 0 or reading.temperature is none %}
                        {% else %}
                        {{reading.temperature}}&deg;C,
                        {% endif %}

                        {% if reading.heart_rate == 0 or reading.heart_rate is none %}
                        {% else %}
                        {{ reading.heart_rate}}bpm
                        {% endif %}
                    </td>
                    <td>
                    {% if reading.classification == 0 %}
                        {% else %}
                        P{{reading.classification}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                 <!--  <tfoot>
                <tr>
                    <th>ID</th>
                    <th>NRIC</th>
                    <th>Name</th>
                    <th>Registration Time</th>
                    <th>Triage Data</th>
                    <th>Classification</th>
                </tr>
                </tfoot>-->
            </table>
        </div>
    </div>
</div>

<form style="display:none" action="/listall" method="POST" id="hidden-form">
  <input type="hidden" id="nric_num" name="nric_num" value=""/>
</form>
<script src="/bootstrap/js/custom.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#table_id').DataTable( {
        "order": [[ 0, "asc" ]]
    } );
} );
</script>
{% endblock %}
