{% extends "layout.html" %}
{% block body %}
<div class="container scan">
    <div class="row col-xs-12">
		<form id="yourForm">
		  <div class="form-group">
		    <label for="nric"> NRIC </label>
		    <input maxlength="9" type="nric" class="form-control" id="nric" placeholder="Scan/Enter your NRIC" autofocus>
		  </div>
		</form>
  </div>
</div>

<script type="text/javascript">
$('#yourForm').submit(function(event){

  // prevent default browser behaviour
  event.preventDefault();
  var nric = document.getElementById("nric").value;
  //do stuff with your form here
  window.location = "/create?nric=" + String(nric);

});
</script>

{% endblock %}